 <div id="dx">
            <img src="../assets/IMGs/unnamed.webp" width="270px">
            <p id="A1"> EMI AMOUNT :</p>
            <input type="text" [(ngModel)]="principal" id="DXC" placeholder="Number Value">
            <p id="A1"> RATE :</p>
            <input type="text" [(ngModel)]="rate" id="DXC1" placeholder="Number Value">
            <p id="A1"> TIME :</p>
            <input type="text" [(ngModel)]="time" id="DXC2" placeholder="Number Value">
            <br>
            <p><button (click)="goat()" id="d"> SUBMMIT </button></p>
            
    </div>                
   