 <div style="text-align: center;">
        <img src="../assets/IMGs/OIP.jpg" alt="x1">
        <h4 id="x2"> SELECT OPTION</h4>
</div>  

<div class="x2">
  <div id="second">
     
    <a routerLink="bank-app"> <button id="n1">BankApp</button> </a>
    <br>
     
    <a routerLink="c-card-e"> <button id="n2" >Sallary Card</button><br> </a>
     
    
    <a routerLink="emi"><button id="n1">EMI Calculator</button> </a>
    <br>
   
    <a routerLink="form"> <button id="n2">Form Validation</button> </a>

  </div>
</div>


<router-outlet></router-outlet>
 